$base-fontsize: 18px;
$breakpoint-narrow: 480px;
$breakpoint-regular: 768px;
$breakpoint-wide: 1024px;
// $base-fontsize: calc(100vw / 1920 * 10);
// $variable-fontsize: calc(14*100vw/var(--size));

// colors
$wht: white;
$blk: black;

// misc
$g-gutter: 3.5%;
